<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  <li class="layui-nav-item"><a href="/users/index"><i class="layui-icon">&#xe612;</i>用户中心</a></li>
  <li class="layui-nav-item"><a href="/users/order"><i class="layui-icon">&#xe653;</i>我的订单</a></li>
  <li class="layui-nav-item"><a href="/users/release"><i class="layui-icon">&#xe653;</i>我的发布</a></li>
  <li class="layui-nav-item"><a href="/users/notice"><i class="layui-icon">&#xe653;</i>通知信息</a></li>
</ul>
<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>